---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  {% if page.content | readtime == 0 %}
      less than a minute read
    {% else %}
      {{ page.content | readtime }} minutes read
  {% endif %}
  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div class="entry">
    {{ content }}
  </div>

  <ul class="share-buttons">
  <li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src="images/flat_web_icon_set/black/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}&related={{ site.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter"><img src="images/flat_web_icon_set/black/Twitter.png"></a></li>
  <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><img src="images/flat_web_icon_set/black/Google+.png"></a></li>
  <li><a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit"><img src="images/flat_web_icon_set/black/Reddit.png"></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary=&source={{ site.url }}" target="_blank" title="Share on LinkedIn"><img src="../images/flat_web_icon_set/black/LinkedIn.png"></a></li>
</ul>
  
  <div class="comments">
    {% include disqus.html disqus_identifier=page.disqus_identifier %}
  </div>

  
</article>
